## import Packages

In [9]:
# Import packages
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import graphviz
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, r2_score
%matplotlib inline

/afs/inf.ed.ac.uk/user/s19/s1962306/miniconda3/envs/py3iaml/lib/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  from collections import Sequence
/afs/inf.ed.ac.uk/user/s19/s1962306/miniconda3/envs/py3iaml/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

## Description of the dataset

focus on size, data ranges, and data types

In [20]:
data_path = os.path.join(os.getcwd(), 'data', 'regression_part1.csv')
regression_part1 = pd.read_csv(data_path, delimiter = ',')
regression_part1.head(5)

   revision_time  exam_score
0          2.723      27.682
1          2.844      22.998
2          3.303      19.765
3          3.588      24.481
4          4.050      22.974

In [36]:
# focus on size, data ranges, and data types
row,col=regression_part1.shape
print('Data Description:\nNumber of data:{0}\nNumber of Attribute:{1}'.format(row,col))
regression_part1.describe()
print('Data size is:',regression_part1.size)
regression_part1.dtypes
#print('revision_time range from',regression_part1.loc[regression_part1['revision_time']].max())

Data Description:
Number of data:50
Number of Attribute:2
Data size is: 100

revision_time    float64
exam_score       float64
dtype: object

In [37]:
regression_part1.describe()

       revision_time  exam_score
count      50.000000   50.000000
mean       22.220020   49.919860
std        13.986112   20.925594
min         2.723000   14.731000
25%         8.570500   32.125000
50%        21.688000   47.830500
75%        32.257500   65.069750
max        48.011000   94.945000